<!--Main Interface Template-->
<template name="VisUI">
  {{>toggle}}
  <div class="content">
  {{>networkView}}
  </div>
</template>

<!--Template For toggle button-->
<template name="toggle">
  <div class="toggleContainer">
    <h2>View Data by</h2>
    <div class="aToggle active" id="candidateToggle">
        <p>Candidates</p>
    </div>
    <div class="aToggle divisor">
    <p>/</p>
    </div>
    <div class="aToggle" id="networkToggle">
        <p>Networks</p>
    </div>
  </div>
</template>
