/*
#####################
	Global Settings
#####################
*/

//Colors
$black: #292933;
$gray: #D8D8D8;
$white: #f3f3f3;

$accent: #F77A52;

//Global Settings
*, *:before, *:after {
	margin: 0;
	overflow: none;
-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
  color:$gray;
}

a{
    link-styling:none;
  text-decoration: none;
}
body{
 //-webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  background-color:$black;
  font-family: $copy;
}

/*
::-moz-selection{
  background:$gold;
}  
::selection {
 background:$gold;
}
*/

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}